/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../assets/images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
  font-size: 13px;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 {
  font-size: 20px;
  background: #FFF;
  padding: 30px;
  color: #000;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}

.col-60 {
  width: 600px;
  height: 600px;
  background: #E84A5F;
  padding: 0px;
}

.piezasjuego {
   width:33%;
   height:33%;
   float: left;
   margin: 0px;
   padding: 0px;
   border: 1px solid grey;

}

.piezasjuego img {
   max-width: 100%;
   display: block;
}

.cartel {
  background-color: red;
  height: 400px;
}

.texto-centrado {
  text-align: center;
}

.links {
  
}

#objetivo img {
     max-width: 100%;
   display: block;
}

#titulo{
   letter-spacing: 10px;
   text-align: center;
   width: 100%;
   background-color: #EC6778;
   color: white;
   font-size: 25px;
   font-weight: bold;
   padding: 5px;

}

#instrucciones h2 {
  color: #E84A5F;
  margin: left;
  font-size: 15px;
  margin-top: 20px;
}

#movimientos h2 {
  color: #E84A5F;
  margin: left;
  font-size: 15px;
  margin-top: 20px;
}

#flecha{
  font-size: 60px;
}

#juego {
  text-align: center;
  animation: fadein 2s;
  /*background-color:white;*/
  height: 600px;
  width: 600px;
  
}

#pieza1, #pieza2,#pieza3 #pieza4 #pieza5, #pieza6, #pieza7, #pieza8, #pieza9{
   max-height: 100%;
}

#footer div {
  font-family: sans-serif;
  background-color: grey;
  color: white;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding:4% 4%;
  text-align: center;
  font-size: 12px;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
